.Top-panel-container {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}

.User-container {
    margin-top: 8px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Settings-container {
    max-width: 450px;
    display: flex;
    gap: 20px;
    margin-right: 15px;
}

.Settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Shopping-list-container {
    max-width: 1200px;
    margin: 30px auto 30px auto;
    padding: 20px;
}

.Accordion-header {
    --bs-accordion-btn-bg: #E9967A;
    --bs-accordion-active-bg: #E9967A;
}

.Show-resolved {
    display: flex;
    flex-direction: column;
}

.Lists-stats {
    width: 100%;
    aspect-ratio: 1.618;
    max-width: 850px;
    margin: auto;
}

.Pie-chart-text {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 1300px) {
    .Shopping-list-container {
        margin: 30px 30px 30px 30px;
    }
}

@media (max-width: 576px) {
    .Shopping-list-container {
        margin: 30px 15px 30px 15px;
    }

    .Settings-container {
        flex-direction: column;
        gap: 10px;
    }

    .Lists-stats {
        height: 400px
    }

    .Pie-chart-text {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .Item-delete-button {
        margin-right: 50px;
    }
}