.registerContainer {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.registerContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2e2e2e
}

.registerButton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLabel {
    text-align: start
}

.successMessage {
    padding: 12px;
    margin-top: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    text-align: center;
}

.errorMessage {
    padding: 12px;
    margin-top: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
}

.passwordInputWrapper {
    position: relative;
}

.passwordInput {
    width: 100%;
    padding-right: 50px;
}

.togglePasswordBtn {
    position: absolute;
    right: -40px;
    top: 0%;
    transform: translateY(10%);
    background: none;
    border: none;
    color: #000000;
    padding: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.togglePasswordBtn:hover {
    color: #0056b3;
}

.passwordFeedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
}